<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL Website</title>
</head>
<body style="text-align: center;">
    <p style="font-size: 50px;">What would you like to do:</p>
    <!--<ul> is unordered list-->
    <!--style is used to remove bullet points-->
    <ul style="list-style-type: none;">
        <!--<li> is list items-->
        <li style="font-size: 40px;"><a href="/team-vs-team">Team-1 Vs Team-2 Record</a></li><br>
        <li style="font-size: 40px;"><a href="/team-record">Single Team Record</a></li><br>
        <li style="font-size: 40px;"><a href="/batsman-record">Batsman Record</a></li><br>
        <li style="font-size: 40px;"><a href="/bowler-record">Bowler Record</a></li>
    </ul>

</body>
</html>