<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Record</title>
</head>
<body style="text-align: center;">

<h1>Team Record</h1>

<form action="team-record" method="get">
    <label>Select Team</label>
    <!--use to give drop down-->
    <select name="team">
        <!--below code is used to show 'Select Team 1' in the drop-down box-->
        <option>Select Team</option>
        <!--below code is used to show all teams from 'teams' in drop-down-->
        {% for item in teams %}
             <option>{{ item }}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" value="Find Track Record">

</form>
<!--here we are checking that we have got dictionary or not from teamvsteam() function-->
{% if result%}
     {% for i in result %}
         <p style="font-size: 20px;">{{ i }}</p>
         <p>{{ result[i] }}</p>
     {% endfor %}
{% endif %}


</body>
</html>