<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Team Vs Team</title>
</head>
<body style="text-align: center;">

<h1>Team Vs Team</h1>

<form action="team-vs-team" method="get">
    <label>Select Team 1</label>
    <!--use to give drop down-->
    <select name="team1">
        <!--below code is used to show 'Select Team 1' in the drop-down box-->
        <option>Select Team 1</option>
        <!--below code is used to show all teams from 'teams' in drop-down-->
        {% for item in teams %}
             <option>{{ item }}</option>
        {% endfor %}
    </select><br><br>

    <label>Select Team 2</label>
    <select name="team2">
        <option>Select Team 2</option>
        <{% for item in teams %}
             <option>{{ item }}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" value="Find Track Record">

</form>
<!--here we are checking that we have got dictionary or not from teamvsteam() function-->
{% if result %}
   {% for i in result %}
      <p>{{ i }} : {{ result[i] }}</p>
   {% endfor %}
{% endif %}


</body>
</html>